<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" href="../../static/favicon.ico" th:href="@{/static/favicon.ico}"/>

    <title>Error-405 . MyOIDC[RP]</title>

    <th:block th:include="fragment/header :: public-css"/>
</head>
<body>

<div th:replace="fragment/header :: public-header"/>

<div class="container">
    <h3>405
        <small>
            Method Not Allowed
        </small>
    </h3>
    <div class="alert alert-warning">
        <a href="#" th:href="@{/}">回主页</a>
    </div>


</div>


<hr/>
<div th:replace="fragment/footer :: footer-oidc"/>
</body>
</html>