<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" href="../static/favicon.ico" th:href="@{/static/favicon.ico}"/>

    <title>OAuth2 Error . MyOIDC[RP]</title>

    <th:block th:include="fragment/header :: public-css"/>
</head>
<body>

<div th:replace="fragment/header :: public-header"/>

<div class="container">
    <h3>OAuth2 Error</h3>

    <div class="alert alert-danger">
        <h4 th:text="${error}">error</h4>
        <div th:text="${message}">err</div>
    </div>
</div>


<hr/>
<div th:replace="fragment/footer :: footer-oidc"/>
</body>
</html>