<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app>
<head>
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" href="../../static/favicon.ico" th:href="@{/static/favicon.ico}"/>

    <title>client_credentials . MyOIDC[RP]</title>

    <th:block th:include="fragment/header :: public-css"/>

    <script src="../../static/angular.min.js" th:src="@{'/static/angular.min.js'}"></script>
</head>
<body>

<div th:replace="fragment/header :: public-header"/>

<div class="container">
    <h2>client_credentials</h2>

    <p>
        grant_type = 'client_credentials' 模式不需要用户去资源服务器登录并授权, 因为客户端(client)已经有了访问资源服务器的凭证(credentials).
        <br/>
        所以当用户访问时,由client直接向资源服务器获取access_token并访问资源即可.
        <br/>
    </p>

    <p class="text-muted">
        若客户端需要登录(或注册), 则用户仅需在客户端登录(或注册)即可,与资源服务器没有关系
    </p>

    <p>
        <small class="text-muted">
            <em class="glyphicon glyphicon-info-sign"></em> 在实际应用中, client_credentials一般都是由后台来完成的,前台没有任何表现,
            常用于子应用中去访问主应用的资源或API.
        </small>
    </p>

    <br/>

    <div ng-controller="ClientCredentialsCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">第一步 <code>获取access_token</code></div>
            <div class="panel-body">
                <div class="col-md-10">
                    <p class="text-muted">
                        点击 '获取access_token' 按钮, 将向myoidc-server请求获取access_token.
                        <br/>
                        若是开发者关心请求的参数,可点击'显示请求参数' 展示请求的参数细节.
                    </p>

                    <form class="form-horizontal" action="#" onsubmit="return false;">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">accessTokenUri</label>

                            <div class="col-sm-10">
                                <p class="form-control-static"><code th:text="${endpointInfo.token_endpoint}"></code>
                                    &nbsp;<a th:href="${endpointInfo.token_endpoint}" target="_blank">测试连接</a></p>
                            </div>
                        </div>
                        <a href="javascript:void(0);" ng-click="showParams()">显示请求参数</a>

                        <div ng-show="visible">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">client_id</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="client_id" required="required"
                                           ng-model="clientId"/>

                                    <p class="help-block">客户端从 OIDC Server 申请的client_id, 有的OAuth2服务器中又叫 appKey</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">client_secret</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="client_secret" required="required"
                                           ng-model="clientSecret"/>

                                    <p class="help-block">客户端从 OIDC Server 申请的client_secret, 有的OAuth2服务器中又叫
                                        appSecret</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">grant_type</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="grant_type" readonly="readonly"
                                           ng-model="grantType"/>

                                    <p class="help-block">固定值 'client_credentials'</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">scope</label>

                                <div class="col-sm-10">
                                    <select name="scope" ng-model="scope" class="form-control">
                                        <option value="read">read</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <br/>
                        <br/>
                        <button class="btn btn-primary" ng-click="getAccessToken()">获取access_token</button>
                        <span class="label label-warning">POST</span>
                    </form>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">第二步 <code>访问资源服务器的API</code></div>
            <div class="panel-body">
                <div ng-hide="tokenVisible">请先获取access_token</div>
                <div ng-show="tokenVisible" class="col-md-11">
                    <div class="well well-sm">
                        <dl class="dl-horizontal">
                            <dt>access_token</dt>
                            <dd><code>{{accessToken}}</code></dd>
                            <dt>token_type</dt>
                            <dd><code>{{tokenType}}</code></dd>
                            <dt>scope</dt>
                            <dd><code>{{tokenScope}}</code></dd>
                            <dt>expires_in</dt>
                            <dd><code>{{expiresIn}}</code></dd>
                        </dl>
                        <p class="text-danger">{{tokenError}}</p>
                    </div>

                    <p>
                        获取access_token成功, 访问资源服务器API
                    </p>
                    <a href="{{userInfoUri}}?access_token={{accessToken}}" target="_blank">{{userInfoUri}}?access_token={{accessToken}}</a>

                    <p class="help-block">JSON格式的资源服务器数据</p>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        var ClientCredentialsCtrl = ['$scope', '$http', function ($scope, $http) {
            $scope.clientId = [[${rpHoldDto.clientId}]];
            $scope.clientSecret = [[${rpHoldDto.clientSecret}]];
            $scope.grantType = "client_credentials";
            $scope.userInfoUri = [[${endpointInfo.userinfo_endpoint}]];
            $scope.accessTokenUri = [[${endpointInfo.token_endpoint}]];

            $scope.scope = "read";
            $scope.visible = false;
            $scope.tokenVisible = false;

            $scope.showParams = function () {
                $scope.visible = !$scope.visible;
            };

            $scope.getAccessToken = function () {
                var uri = "credentials_access_token?clientId=" + $scope.clientId + "&clientSecret=" + $scope.clientSecret + "&grantType=" + $scope.grantType + "&scope=" + $scope.scope
                    + "&accessTokenUri=" + encodeURIComponent($scope.accessTokenUri);

                $http.get(uri).success(function (data) {
                    $scope.accessToken = data.access_token;
                    $scope.tokenType = data.token_type;

                    $scope.tokenScope = data.scope;
                    $scope.expiresIn = data.expires_in;
                    //if have error
                    $scope.tokenError = data.error + " " + data.errorDescription;

                    $scope.tokenVisible = true;
                });
            };
        }];
    </script>
</div>


<hr/>
<div th:replace="fragment/footer :: footer-oidc"/>
</body>
</html>