<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" href="../../static/favicon.ico" th:href="@{/static/favicon.ico}"/>

    <title>首页 . MyOIDC[RP]</title>

    <th:block th:include="fragment/header :: public-css"/>
</head>
<body>

<div th:replace="fragment/header :: public-header"/>

<div class="container">
    <h3>这是OIDC中的一个RP
        <small>
            RP(Relying Party), 信任方, 理解为OAuth2中的客户端(client)即可
        </small>
    </h3>
    <p>在进行操作前,请先填写从<label>myoidc-server</label>注册客户端[RP]后获取到的信息</p>

</div>


<hr/>
<div th:replace="fragment/footer :: footer-oidc"/>
</body>
</html>